<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        script.
            var IMAGES = !{(typeof images === "undefined" ? false : JSON.stringify(images))}
        script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css', rel='stylesheet')
        link(href='/css/styles.css', rel='stylesheet')
        script(src="/js/app.js", defer)
    body
        #map.map